################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/node_modules
/.vs/vue-vuex-registration-login-example
/.vs/slnx.sqlite
